.root {
    width: 100%;
    background-color: blueviolet;
    box-shadow: 0 5px 10px;
}

.submenu {
    width: 100%;
    justify-content: flex-end
}

h3:hover {
    color: white;
    cursor: pointer;
}

h3 {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.submenu-item {
    height: 100%;
    /* border-left: 2px inset black; */
    border-right: 2px inset black;
}
