<div class="root center-row">
    <a routerLinkActive="active" routerLink="home">
        <h3>Home</h3>
    </a>
    <div class="submenu center-row">
        <div class="submenu-item">
            <a routerLinkActive="active" routerLink="about">
                <h3>About</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a routerLinkActive="active" routerLink="git">
                <h3>Git</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a routerLinkActive="active" routerLink="projects">
                <h3>Projects</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a routerLinkActive="active" routerLink="contact">
                <h3>Contact</h3>
            </a>
        </div>
    </div>
</div>