<div class="root center-row">
    <a href="https://www.joshuapeck.org/">
        <h3>Home</h3>
    </a>
    <div class="submenu center-row">
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
        <div class="submenu-item">
            <a href="./">
                <h3>test</h3>
            </a>
        </div>
    </div>
</div>