h1 {
    color: white;
    text-align: center;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
}

.view {
    width: 80%;
    height: 100%;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

app-projects-menu {
    width: 12%;
}