.center-row {
    display: flex;
    flex-direction: row;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}